body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/images/background3.jpg);
    min-height: 800px;
    max-width: 800px;
    min-width: 100%;
    font-family: 'Roboto Condensed', sans-serif;
    color: #080808;
}
